body{
  padding: 0;
  margin: 0;
  background: rgba(9, 9, 9, 0.8);
  background-size: cover;
  font-family: arial;
}

/* Default Text Attributes */
h1, h2, h3, h4, p{
  color: white;
}
h1#title{
  font-size: 48px;
  padding: 10px;
  margin: 0;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

div.sidebar{
  box-sizing: border-box;
  background: #202020;
  height: 92vh;
  max-width: 35%;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

div.sidebar div.addMusic{
  white-space: nowrap;
}

div.sidebar .music-list{
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  background: #424242;
  border-style: solid;
  border-width: 1px;
  max-height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}

.addMusicItem{
  margin-left: 5px;
}

@media screen and (min-width:769px){
  div.sidebar .music-list p{
    white-space: nowrap;
  }

  div.sidebar[hover="false"]{
    width: 10%;
    opacity: 0;
    transition: all 1.0s ease-out;
  }

  div.sidebar[hover="true"]{
    width: 100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  div.sidebar[hover="false"] h1#title
  {
    white-space: nowrap;
  }

  div.sidebar[hover="false"] .music-list{
    width: 100%;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }
}

  div.sidebar .music-list p{
    margin-left: 5px;
  }

div.player{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background: #252525;
  border-top-style: solid;
  border-top-width: 1px;
}

div.play{
  box-sizing: border-box;
  width: 6vh;
  height: 6vh;
  border-width: 3vh 0px 3vh 6vh;
  border-style: solid;
  border-color: transparent transparent transparent white;
  transition: all 0.15s ease-in-out;
  margin: auto;
  transform: translateY(1vh);
}

div.play[mode="play"]{
  border-width: 0px 2vh 0px 2vh;
  /* background: white; */
  border-style: solid;
  border-color: white;
}
div.music-item{
  padding: 1px;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

div.music-item:hover{
  background: grey;
  cursor: pointer;
}

div.now-playing{
  position: absolute;
  margin: 5px;
  width: 30vw;
}

div.now-playing p#song-title{
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

progress#curTime{
  width: 34.85vw;
  padding: 0;
  margin: 0;
}

/* @MEDIA */
@media screen and (max-width:768px){
  h1#title{
    text-align: center;
  }

  div.sidebar{
    width: 100%;
    max-width: 100%;
    height: 35vh;
  }

  div.sidebar .music-list{
    max-height: 35vh;
  }

  div.sidebar .music-list p{
    text-align: center;
    margin-left: 0;
  }

  div.player{
    height: 12vh;
  }

  div.play{
    width: 9vh;
    height: 9vh;
    border-width: 4.5vh 0px 4.5vh 9vh;
    transform: translateY(1vh);
  }

  div.play[mode="play"]{
    border-width: 0px 3vh 0px 3vh;
    border-style: solid;
    border-color: white;
  }

  p#song-title{
    font-size: 12px;
  }

  div.addMusic{
    position: fixed;
    left: -100;
    top: -100;
  }
}
